{% extends "base.html" %}

{% block navbar %}

{% include "navigation.html" %}

{%endblock%}
{% block body %}

<!-- Page Content -->
 <div class="container">

 <div class="row">

       <!-- Post Content Column -->
  <div class="col-lg-10">
		<h2 style="text-align:center"></h2>
    <form id="searchform" method="post" action="/home">
           <div id="custom-search-input">
                            <div class="input-group col-md-12">

                                <input type="text" name="text" class=" search-query form-control" placeholder="Search for a Stock" />

                                <span class="input-group-btn">
                                    <button form="searchform" class="btn btn-danger" type="submit">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>

                            </div>
          </div>
            </form>

<h4> | StockName: {{stockname}} | From: {{start}} To: {{final}}  </h4>
</div>






<!-- Sidebar Widgets Column -->




</div>
</div>
<div class="container-fluid">

<canvas id="chart" width="1200" height="600">"Hello"</canvas>
</div>


<style>


#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

    .search-query:focus + button {
        z-index: 3;
    }
    #chartdiv {
      width: 100%;
      height: 100%;
    }

h4{
  font-family: Georgia, serif;
      font-size: 18px;
      font-weight: bold;
      color: #006600;
      letter-spacing: 1.4px;
      border-bottom: solid 1px #006600;
      text-transform: uppercase;



}

</style>


{% include "chart.html" %}

{% endblock %}
