{% extends "base.html" %}

{% block navbar %}

{% include "navigation.html" %}

{%endblock%}
{% block body %}

<!-- Page Content -->
 <div class="container">

 <div class="row">

   <div id="myModal" class="modal fade" role="dialog">
     <div class="modal-dialog">

       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h3 class="modal-title">Success</h3>
         </div>
         <div class="modal-body">
           <p> <b>Hi {{session.username}}. {{stockname}} stock was added to your Favourites.</b></p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>

     </div>
   </div>






<p><span class="username" style="display:none">{{session.username}}</span> </p>
       <!-- Post Content Column -->
  <div class="col-lg-10">
		<h2 style="text-align:center"></h2>
    <form id="searchform" method="post" action="/home">
           <div id="custom-search-input">
                            <div class="input-group col-md-12">

                                <input type="text" name="text" class=" search-query form-control" placeholder="Search for a Stock" />

                                <span class="input-group-btn">
                                    <button form="searchform" class="btn btn-danger" type="submit">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>

                            </div>
          </div>
            </form>
</div>







<!-- Sidebar Widgets Column -->




</div>
</div>

<div class="container-fluid">
<h4> | StockName: <span class="word">{{stockname}}</span> | From: <span class="from">{{start}}</span> To: <span class="until">{{final}}</span> | </h4>
  <div class="col-md-1 pull-right">

  <button onclick="addStocks()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      <span class=" glyphicon glyphicon-plus pull-right"><b>Add</b></span>

  </button>
</div>
<div class="col-md-12">
<canvas id="chart" width="1200" height="600"></canvas>
</div>
</div>


<style>


#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

    .search-query:focus + button {
        z-index: 3;
    }
    #chartdiv {
      width: 100%;
      height: 100%;
    }

h4{
  font-family: Georgia, serif;
      font-size: 18px;
      font-weight: bold;
      color: #006600;
      letter-spacing: 1.4px;
      text-align: center;
      text-transform: uppercase;



}

</style>
<script>

function popsup(response){
  console.log("Works.")
}


function addStocks(obj){
   var stockname= $('.word').text();
   var username= $(".username").text();
   var from = $(".from").text()
   var until= $(".until").text()
   console.log(stockname);
   console.log(username);
   $.ajax({
            url: '/addstock/'+stockname+"/"+username+"/"+from+"/"+until,
            dataType: 'json',
            success: function(response){
      				popsup(response);

      			},
      			error: function(error){
              console.log("Error");
      				console.log(error);
      			}
            });
   }

</script>




{% include "chart.html" %}

{% endblock %}
